.showOptionsButton{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    
}

// #buttonsctions{
//     position:absolute;
//     margin-top:50%;
//     margin-left:50%;
// }
