<ion-card class="color-tabs">
  <ion-card-header>
    
    
    <ion-card-title style="color:white">
      <h4>{{i+1}}. </h4>

      <h4>{{new.title}}</h4>

    </ion-card-title>




    <ion-card-subtitle style="color:white">{{new.author}}</ion-card-subtitle>

    <ion-img *ngIf="new.urlToImage" [src]="new.urlToImage" (click)="goToSiteUrl()"></ion-img>
    <div id="buttonsctions">
      <ion-button (click)="showActions()" fill="clear">
        <ion-icon name="ellipsis-vertical-outline"></ion-icon>
      </ion-button>
  
      <ion-button *ngIf="inFavoritestab" (click)="dislikeFavorite()" fill="clear">
        <ion-icon name="trash-outline" large></ion-icon>
      </ion-button>
      <ion-button *ngIf="!inFavoritestab" (click)="likeFavorite()" fill="clear">
        <ion-icon name="heart-outline" large></ion-icon>
      </ion-button>
    </div>
  </ion-card-header>

  <ion-card-content>
    <p>{{new.content}}</p>
  </ion-card-content>
</ion-card>